.header-menu-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: rgb(102, 49, 226);
  color: white;
  padding: 5px;
  flex:1;
}

.logo {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}

.reddit-logo {
  height: 25px;
  padding-right: 5px;
}

.user-name, .crate-post {
  padding-right: 10px;
}
