/* @import url('https://fonts.googleapis.com/css?family=Caveat:700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap'); /* for logo */
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap'); /* for all headings */

.header-menu-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: rgb(102, 49, 226);
  color: white;
  padding: 5px;
  flex:1;
  font-family: Boogaloo;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  font-size: 2rem;
  font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

.reddit-logo {
  height: 35px;
  padding-right: 5px;
}

.header-right-item {
  padding-right: 10px;
}

.logout{
  text-decoration: underline;
  cursor: pointer;
}

a {
  color :white;
}
