@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap'); /* for logo */
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap'); /* for all headings */

input:focus, textarea:focus, select:focus{
  outline: none;
}

.login {
  display: flex;
  justify-content: center;
  background-color: rgb(253, 246, 245);
  height: 100%;
}

.login-items{
  text-align: center;
  border: 1px solid lightgray;
  padding: 20px;
  box-shadow: 1px 1px 20px lightgray;
}

.login-items h1 {
  font-family: Boogaloo;
  font-size: 3rem;
  text-decoration: underline;
}

.login-items button {
  font-family: Boogaloo;
  font-size: 1.5rem;
}

.control-group{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 15px;
}

.control-group label{
 text-align: left;
 font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: rgb(49, 47, 47);
}

.control-group input {
  padding: 15px 10px ;
  border-radius: 10px;
  font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: rgb(49, 47, 47);
}

.login-items button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.login-items button:first-of-type{
  margin-right: 10px;
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 }
