@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');

.post {
  border: 1px solid lightgray;
  border-radius: 1px;
  width: 700px;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .post {
    width: 500px;
  }
}

.post_title {
  font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size:15px;
  margin: 5px 0px 5px 5px;
  color: rgb(63, 60, 60);
}

.post_description {
  font-family: Montserrat, Verdana, Geneva, Tahoma, 'sans-serif';
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1.1px;
  line-height: 1.5rem;
  word-spacing: 0.1rem;
  margin: 5px;
  word-wrap: break-word;
  color: rgb(70, 65, 65);
}

.post > img {
  margin: 5px;
  width: calc(100% - 10px);
  height:400px;
}

.post_date {
  font-family: Montserrat, Verdana, Geneva, Tahoma, 'sans-serif';
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: rgb(112, 105, 105);
}

.post_title + .delete-button {
  /* background-color: red; */
  color:red;
  margin-left: auto;
  /* height: 100%; */
  margin-right:5px;
  margin-top:5px;
  padding: 5px;
  /* width: auto; */
  font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border-radius: 5px; */
  cursor: pointer;
}

.post_title_group {
   display: flex;
   width: 100%;
   align-items: center;
}
